
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chivo', sans-serif;
    background-color: #050404;
}

#chiru-pomodoro {
    text-align: center;
}

#timer {
    position: relative;
    text-align: center;
    font-size: 35px; /* Adjust as needed */
    color: #ffffff; /* Light text color for contrast */
    background-color: #33333300; /* Dark background for the timer */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    font-family: 'Chivo', sans-serif;
}

/* time dropdown main styling*/
.time-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* center the drop */
    background-color: #2B2B2B; /* dark backround for drop */
    min-width: 160px;   /* set minimum width to 160 */
    margin-top: 5px; /* space between timer and dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000; /* make sure above content */
    display: none; /* hidden first */
}

/* time dropdown styling */
.time-option {
    color: #E0E0E0; /* light color for contrast */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #484848; /* options border/divider */
    font-family: 'Chivo', sans-serif;
}

.time-option:hover {
    background-color: #383838;
}

/* General button styling */
#controls button {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Chivo', sans-serif;
}

#start {
    background-color: #1b691e; /* Green */
}

#stop {
    background-color: #c52317; /* Red */
}

#reset {
    background-color: #f3b251; /* Orange */
}

/* Hover effect */
#controls button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* Active/Focus effect */
#controls button:active, #controls button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

