
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

#chiru-pomodoro {
    text-align: center;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

/* General button styling */
#controls button {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#start {
    background-color: #1b691e; /* Green */
}

#stop {
    background-color: #c52317; /* Red */
}

#reset {
    background-color: #f3b251; /* Orange */
}

/* Hover effect */
#controls button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* Active/Focus effect */
#controls button:active, #controls button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.time-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.time-option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.time-option:hover {
    background-color: #f1f1f1;
}